body {
    font-family: 'Arimo', sans-serif;
    padding-top: 100px;    
}

p{
  font-size: 16px;
  color: white;
}

.accueil{
    background-image: url(images/arriere-plan.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #000;



}
.about{
  background-image: url(images/plan.jpg);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-position: center;
  background-color: #000;
}
.portfolio{
  background-image: url(images/plan.jpg);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-position: center;
  background-color: #000;
}
.competence{
  background-image: url(images/arriere-plan.jpg);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-position: center;
  background-color: #000;
}
.contact{
  background-image: url(images/arriere-plan.jpg);
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-position: center;
  background-color: #000;
}
#mainNav{
  background-color: #000;
}

header {
  text-align: center;
  color: white;
  font-size: 20px;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
  height: 250px;
    width: 150px;
    border-radius: 10px;

}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }

  /*page portfolio*/



.portfolio-item {
    margin-bottom: 25px;
   
}


.image{
     width: 300px;
    height: 400px;

}

footer {
    margin: 50px 0;
}

h3{
    animation: bounceIn 2s; 
}

.tyf{
   -webkit-animation: nomAnim 5s linear 2s;
        -moz-animation: nomAnim 5s linear 2s;
         -ms-animation: nomAnim 5s linear 2s;
          -o-animation: nomAnim 5s linear 2s;
             animation: nomAnim 5s linear 2s;
}

.col-lg-4 img{

}